<!DOCTYPE html>
<html lang="">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/websaite#">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-543LZ1T615"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-543LZ1T615');
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <meta property="og:url" content="https://jojoss-sasyu-countdown.netlify.app/byebye-and-thanks-jojoss-20210413" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="さよならジョジョSS" />
    <meta property="og:description" content="また会おうッ！ジョジョSSのことが嫌いじゃあなけりゃあな！…マヌケ面ァ！" />
    <meta property="og:image" content="https://jojoss-sasyu-countdown.netlify.app/jojosscount_ogimg.png" />
    <meta content="また会おうッ！ジョジョSSのことが嫌いじゃあなけりゃあな！…マヌケ面ァ！" name="description" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>bye_favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
